{% extends "account/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
 <h1>Авторизация</h1>
 {% if form.errors %}
 <p>Ваше имя пользователя и пароль не совпадают.Пожалуйста, попробуйте еще раз.</p>
 {% else %}
 <p>Пожалуйста, используйте следующую форму для входа в систему:</p>
 {% endif %}
 <div class="login-form">
 <form action="{% url 'login' %}" method="post">
 {{ form.as_table }}
 {% csrf_token %}
 <input type="hidden" name="next" value="{{ next }}" />
 <p><input type="submit" value="Войти"></p>
 </form>
 <p>Если у вас нет учетной записи <a href="{% url "register" %}">зарегистрируйтесь здесь</a></p>
 <p><a href="{% url "password_reset" %}">Забыли свой пароль?</a></p>
 </div>
    <div class="social">
 <ul>
 <li class="facebook"><a href="{% url "social:begin" "facebook" %}">
 Signin with Facebook</a></li>
     <li class="google">
 <a href="{% url "social:begin" "google-oauth2" %}">
 Login with Google
 </a>
</li>
 </ul>
</div>
{% endblock %}